.fld-author-pane {
    width: 100%;
    height: 100%;
    font-family: OpenSans, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.fld-author-svgPane {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
}

.fld-author-arrow {
    stroke: #888;
    fill: #9dd;
}

.fld-author-componentGraphHolder {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.fld-author-componentGraph {
    width: 2000px;
    height: 2000px;
}

.fld-author-componentView {
/*    width: 200px;
    height: 400px; */
    background-color: #6df;
    border: 1px solid #777;
    position: absolute;
    left: 20px;
    top: 20px;
}

.fld-author-componentView > table {
    border-collapse: separate;
    border-spacing: 0px;
}

.fld-author-componentView td {
    vertical-align: top;
}

.fld-author-componentGraph {
    position: relative;
}

.fl-author-componentRow {
   border-bottom: 1px solid #6cd;
}

.fld-author-componentView > tbody > tr > td {
   border-top: 1px solid #6cd;
}

.fld-author-componentView > tbody > tr:first-child > td {
   border:none;
}

td.fld-author-modelView {
   padding: 0px;
}

table.fld-author-JSONView {
   border-collapse: collapse;
}

.fld-author-member {
   position: absolute;
   top: -1.5em;
}